<h1>
  <span>Mixology</span>
  <span><%= link_to :new, new_cocktail_path %></span>
</h1>

<% @cocktails.each do |c| %>
  <h2>
    <span>
      <%= c.name %>
    </span>
    <span>
      <%= link_to c.doses.length.to_s << ' ingredients', cocktail_path(c) %>
    </span>
  </h2>
<% end %>
