fieldset {
  margin: 0;
  div {
    display: inline-block;
    margin-right: 6px;
  }
  div:last-child {
    margin-right: 0;
  }
}

label {
  text-decoration: underline dotted gray;
  opacity: .6;
  margin-bottom: 0;
}
legend {
  display: none;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  color: $red;
  opacity: 1;
}
input[type="radio"]:hover + label {
  cursor: pointer;
  opacity: 1;
}

.form-group {
  margin: 0;
}
