html,
body {
  margin:  0;
  padding: 0;
}

html {
  font-size: 18px;
  line-height: 23px;
}

h1 {
  font-size: 76px;
  line-height: 92px;
  margin-top: 23px;
  margin-bottom: 46px;
}

h2 {
  font-size: 29px;
  line-height: 46px;
  margin: 0;
}

a {
  color: $blue;
  opacity: .6;
  text-decoration: underline dotted gray;
  transition: .2s opacity ease;
}

a:hover,
a:active {
  opacity: 1;
  color: $blue;
  text-decoration: underline dotted gray;
}
